@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: Montserrat, BlinkMacSystemFont, Helvetica, sans-serif;
  transition: all 0.25s linear;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
